.sidebar {
    box-shadow: 14.0351px 0px 25px rgba(86, 128, 248, 0.03),
        10px 0px 70px rgba(86, 128, 248, 0.05),
        15px 5px 50px rgba(0, 0, 0, 0.02);
    .logo {
        font-size: 20px;
        text-align: center;
        // background-color: transparent;
        @media screen and (max-width: $breakpoint-md) {
            margin: 2.5rem 0 0.5rem;
        }
    }
    &-copy {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        white-space: nowrap;
        padding: 0.24rem 0;
    }
}

.sidebar-chat {
    min-width: 15rem !important;
}

.user-group {
    padding: 0.75rem 1rem;
    cursor: pointer;
    &:hover {
        background: $color-border;
    }
    &__avatar {
        margin-right: 0.6rem;
    }
    &__txt {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        p {
            font-size: 15px;
        }
        p,
        span {
            font-size: 13px;
            white-space: nowrap;
            margin: 0;
        }
        span {
            margin-top: 0.3rem;
            display: block;
        }
    }
}
